{% extends 'base.html' %} {% load static %} {% block content %}
<form class="text-center vh-100 w-50 mx-auto" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<div class="container">
  <h3>Complete the information about yourself below</h3>
  <div class="container border">
    
      <div class="form-group">
        <label for="userGender">Gender</label>
        <input
          type="text"
          class="form-control"
          id="userGender"
          aria-describedby="userGenderInformation"
        />
      </div>
      <div class="form-group">
        <label for="userLocation">Location</label>
        <input
          type="text"
          class="form-control"
          id="userLocation"
          aria-describedby="userLocationInformation"
        />
      </div>
      <div class="form-group">
        <label for="whatAreYouLookingFor">What are you looking for?</label>
        <select class="form-control" id="whatAreYouLookingFor">
          <option>Love</option>
          <option>Friendship</option>
          <option>Companionship</option>
        </select>
      </div>
      <div class="custom-file">
        <label class="custom-file-label" for="addPicture"
          >Add your pictures</label
        >
        <input type="file" class="custom-file-input" id="addPicture" />
      </div>
    
  </div>
 </div>
 </form>
{% endblock %}
