<div class="container">
    <h3>Complete the information about yourself below</h3>
    <div class="container border">
        <form>
            <div class="form-group">
              <label for="userGender">Gender</label>
              <input type="text" class="form-control" id="userGender" aria-describedby="userGenderInformation">
            </div>
            <div class="form-group">
                <label for="userLocation">Location</label>
                <input type="text" class="form-control" id="userLocation" aria-describedby="userLocationInformation">
              </div>
              <div class="form-group">
                <label for="whatAreYouLookingFor">What are you looking for?</label>
                <select class="form-control" id="whatAreYouLookingFor">
                  <option>Love</option>
                  <option>Friendship</option>
                  <option>Companionship</option>
                </select>
              </div>
              <div class="custom-file">
                <label class="custom-file-label" for="addPicture">Add your pictures</label>
                <input type="file" class="custom-file-input" id="addPicture">
              </div>
        </form>
    </div>
    <h3>Complete the information about your preferences below</h3>
    <div class="container border">
        <form>
            <div class="form-group">
              <label for="preferencesGender">Gender</label>
              <input type="text" class="form-control" id="gender" aria-describedby="preferencesGender">
            </div>
            <div class="form-group">
                <label for="preferencesLocation">Location</label>
                <input type="text" class="form-control" id="preferencesLocation" aria-describedby="preferencesLocationInformation">
              </div>
              <div class="form-group">
                <label for="preferencesInterest">Interest</label>
                <select class="form-control" id="preferencesInterest">
                  <option>Love</option>
                  <option>Friendship</option>
                  <option>Companionship</option>
                </select>
              </div><div class="form-group">
                <label for="hairColour">Interest</label>
                <select class="form-control" id="hairColour">
                  <option>Black</option>
                  <option>Blonde</option>
                  <option>Red</option>
                  <option>Brunette</option>
                </select>
              </div>
        </form>
    </div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>