{% extends 'base.html' %}
{% block content %}
<section class="profile-card-container">
    <div class="card-container card-margin-top">
      <div class="card-form card account-access-form">
        <div class="card-form-container">
          <h3>Register an Account</h3>
          <hr>
          <form class="standard-form" method="POST">
            {% csrf_token %} 
            {{registration_form}}
            <button class="submit-wide submit-success" type="submit">Register</button>
          </form>
  
  
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
      $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});
  </script>
  {% endblock %}